.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 6vmin 0;
}

.is-head-brand .site-content {
    padding-top: max(8vmin, 5rem);
}

.page-template .site-content {
    padding-block: 0;
}

.sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.sponsor h6 {
    text-align: center;
}

.sponsor list {
    padding: 2.5rem 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.sponsor list img {
    height: 120px;
}